/*.ant-steps-item-tail::after {*/
/*    height: 12px !important;*/
/*}*/
/*.ant-steps-item-process .ant-steps-item-icon {*/
/*    background-color: #1890FF !important;*/
/*    border: none;*/
/*}*/
/*.ant-steps-item-finish .ant-steps-item-icon {*/
/*    background-color: #ffff !important;*/
/*    border: 1px solid #1890FF !important;*/
/*}*/

.newStyle .ant-steps-item-finish .ant-steps-item-icon {
    background-color: #ffff;
    border: 1px solid #1890FF;
}
.newStyle .ant-steps-item-process .ant-steps-item-icon {
    background-color: #ffff;
    border: 1px solid #1890FF;
}
.newStyle .ant-steps-item-tail::after {
    height: 12px;
}